.subcont > div:nth-last-child(3) > div::before {
  content: 'Likes: ';
  font-size: 0.78rem;
  font-weight: 500;
  color: #888;
}

.subcont > div:nth-last-child(2) > div::before {
  content: 'Dislikes: ';
  font-size: 0.78rem;
  font-weight: 500;
  color: #888;
}